@font-face {
  font-family: "iconfont"; /* Project id 3592802 */
  src: url('iconfont.woff2?t=1660652709016') format('woff2'),
       url('iconfont.woff?t=1660652709016') format('woff'),
       url('iconfont.ttf?t=1660652709016') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-01:before {
  content: "\e66f";
}

.icon-nav-16:before {
  content: "\e670";
}

.icon-nav-03:before {
  content: "\e671";
}

.icon-iconhuaban1-05:before {
  content: "\e610";
}

.icon-iconhuaban1-20:before {
  content: "\e612";
}

.icon-iconhuaban1-14:before {
  content: "\e613";
}

.icon-iconhuaban1-01:before {
  content: "\e614";
}

